* {
    font-family: monospace;
    text-align: justify;
    list-style: circle;

}
:root{
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
}
h1 {
    color: rgb(32, 204, 104);

}



body {
    background: #219ebc;
    font-size: 24px;
}

.a {
    color:white;
    padding: 30px;

}

.b {
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.c {
    text-align: center;
}

.d {
    border: 5px dashed greenyellow;
    border-radius: 10px;
}
.secondary-button{
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    color: var(--primary-text-color) !important;
    padding: 12px 24px;
    transition: 0.2s ease-out;
}
li{
    padding: 20px;
}
.sub-footer{
    background-color: #b9cde4;
    padding: var(--padding-inline-section);
}
.subfooter-container{
    justify-content: center;
    gap: 30px;
    
}
