* {
    font-family: monospace;
    text-align: justify;
    list-style: circle;

}

a {
    color: black;
    text-decoration: underline;
    text-decoration-style: wavy;
}


h1 {
    color: rgb(32, 204, 104);

}



body {
    background:linear-gradient(to top left, #3ed8ff, #a8f5ff);
    font-size: 24px;
}

.a {
    color:grey;


}

.b {
    color: white;
    text-transform: uppercase;
}

.c {
    text-align: center;
}

.d {
    border: 5px dashed greenyellow;
    border-radius: 10px;
}