* {
    font-family: monospace;
    text-align: justify;

}

a {
    color: black;
    text-decoration: underline;
    text-decoration-style: wavy;
}


h1 {
    color: rgb(32, 204, 104);

}



body {
    background-color: #8d99ae;
    font-size: 24px;
}

.a {
    color: #f0f8ff;


}

.b {
    color: yellowgreen;
    text-transform: uppercase;
}

.c {
    text-align: center;
}

.d {
    border: 5px dashed greenyellow;
    border-radius: 10px;
}